<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Taxi1.Properties.Settings.ConnectionString" connectionString="DATA SOURCE=ORCL;PASSWORD=12345;PERSIST SECURITY INFO=True;USER ID=SLOTH"
            providerName="Oracle.DataAccess.Client" />
        <add name="Taxi1.Properties.Settings.ConnectionStringUsers" connectionString="DATA SOURCE=ORCL;DBA PRIVILEGE=SYSDBA;PASSWORD=12345;PERSIST SECURITY INFO=True;USER ID=SYSTEM"
            providerName="Oracle.DataAccess.Client" />
    </connectionStrings>
</configuration>