a.contents
{
	link  = "#000";
	alink = "#000";
	vlink = "#000";
}
a.navigation
{
	link  = "#000";
	alink = "#000";
	vlink = "#000";
	text-decoration: none;
}
a.examples
{
	link  = "#000000";
	alink = "#000000";
	vlink = "#000000";
	text-decoration: none;
}
body
{
	background:#ededed;
}
.title
{
	background:#ededed;
	font-size:30px;
	border: 1px solid #ededed;
}

table
{
	width:100%
	padding:0;
	border-collapse: collapse;
	border-spacing:"0";
	cellpadding:0;
}
.cont
{
	background-color:#eeeeee;
	width:15%;
	height:100%;
	vertical-align:top;
	border-right: 3px solid black;
}
.inp
{
	background-color:#aaaaaa;
	width:85%;
	height:100%;
	border-top: 3px solid black;
}
.liter
{
	background-color:#aaaaaa;
	width:85%;
	height:100%;
	border: 3px solid black;
}

tr
{
	height:100%;
}
td.navi
{
	width:25%;
	text-align:justify;
}
td.back
{
	width:25%;
	font-size:20px;
	padding-left:30px;
}
td.lit
{
	width:25%;
	font-size:20px;
	text-align:center;
}
td.forw
{
	width:25%;
	font-size:20px;
	text-align:right;
	padding-right:30px;
}
.def
{
	font-style:italic;	
}

.prog
{
	font-family:Arial;
	line-height: 0.8em;
}

.example
{
	font-family:Arial;
	align:center;
	line-height: 0.4em;
}
ol
{
	type:1;
}
p
{
	font-family:"Times New Roman";
	text-indent: 25px;
	line-height: 1em;
}